<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mitto_Core::menu"
             title="Mitto"
             resource="Mitto_Core::config"
             module="Mitto_Core"
             sortOrder="500"
             parent="Magento_Backend::marketing"/>
        <add id="Mitto_Core::template"
             title="SMS Templates"
             translate="title"
             module="Mitto_Core" sortOrder="0"
             parent="Mitto_Core::menu"
             action="adminhtml/sms_template/index"
             resource="Mitto_Core::template"/>
        <add id="Mitto_Core::log"
             title="SMS Log"
             translate="title"
             module="Mitto_Core" sortOrder="1"
             parent="Mitto_Core::menu"
             action="adminhtml/sms_log/index"
             resource="Mitto_Core::log"/>
    </menu>
</config>
